@mixin size($width, $height:$width){
   width: $width;
   height: $height;
 }
@mixin flexbox($align: flex-start, $justify: flex-start, $direction: row, $flex-wrap: nowrap) {
   display: flex;
   align-items: $align;
   justify-content: $justify;
   flex-direction: $direction;
   flex-wrap: $flex-wrap;
}

$text-color: #333;
$primary-color: #f85d23;

*{
   font-family: 'Poppins', sans-serif;
}
body{
   width: 100%;
   height: 100vh;
}

.app{
   overflow: hidden;
}
.scout{
   width: 100%;
   background-color: #eee;
   box-shadow: 0 2px 3px 0 rgba($color: #000000, $alpha: 0.1);
   position: fixed;
   z-index: 10;
   &-group-home-nav{
      display: flex;
      align-items: baseline;
       }      
   &-page{
      text-decoration: none;
      color: black;
      font-size: 2.2rem;
      font-weight: 700;
      position: relative;
      line-height: 53px;
      &::after{
         content:"";
         position: absolute;
         @include size(5px);
         border-radius: 50%;
         background-color: $primary-color;
         bottom: 35%;
         right: 0;
         transform: translateX(130%)
      }
   }
   &-nav{
      &__list{
         display: flex;
         padding-left: 1rem;

      }
      &__item{
         list-style: none;
         padding-left: 3rem;
      }
      &__link{
         font-size: 1.4rem;
         text-decoration: none;
         color: $text-color;
         padding: 1.5rem 0;
         &:hover{
            color: $primary-color;
            transition: all linear 0.15s;
         }
      }
   }
   &-social{
      display: flex;
      align-items: center;
      &__icon{
         font-size: 2rem;
         color: #333;
         padding-left: 2.5rem;
      }
   }
   &-search{
      &__action{
         position: fixed;
         left: 0;right: 0;
         z-index: 10;
         margin-top: 111px;
         background-color: #eee;
         animation: FaceIn linear 0.3s;
         padding: 1rem 6rem;
         display: flex;
         justify-content: center;
         align-items: center;
         display: none;
      }
      &__input{
         width: 100%;
         font-size: 1.6rem;
         padding: 0.7rem 3rem;
         border-radius: 5px;
         &::placeholder{
            color: rgb(127, 127, 127);
          }
      }
      &__label{
         cursor: pointer;
      }
      &__checkbox{
         display: none;
      }
      &__checkbox:checked + .scout-search__action{
         display: block;
      }
   }
}

.dropdown{
   &-select{
      position: relative;
      &:hover .scout-subnav{
         display: block;
      }
   }
}

.scout-subnav{
   position: absolute;
   padding: unset;
   padding: 1rem 0;
   margin-top: 5px;
   background-color: #fff;
   width: 150%;
   box-shadow: 0 0 5px 5px rgba(black, 0.08);
   animation: to-Top ease-in 0.25s;
   display: none;
   @keyframes to-Top{
      from{
         opacity: 0;
         transform: translateY(25%);
      }
      to{
         opacity: 1;
         transform: translateY(7%);
      }
   }
   &__item{
      list-style: none;
      padding: 1rem 0 1rem 1.5rem;
      cursor: pointer;
      &:hover .scout-subnav__link{
         color: $primary-color;
      }
   }
   &__link{
      text-decoration: none;
      font-size: 1.4rem;
      color: $text-color;
      padding-left: 1rem;
      transition: all linear 0.15s;
   }
   &__icon{
      margin-right: 2rem;
      font-size: 1.65rem;
      font-weight: bold;
      transition: all linear 0.3s;
      transform: rotate(0deg);
   }

   &__menu{
      background-color: #eee;
      position: absolute;
      width: 100%;
      padding: 2rem;
      background-color: #fff;
      box-shadow: 0 0 5px 5px rgba(black, 0.08);
      bottom: 0; left: 100%;
      transform: translateY(50%);
      display: none;
      animation: FaceIn linear 0.3s;
      &--item{
         list-style: none;
         padding: 1rem;
         &:hover .scout-subnav__menu--link{
            color: $primary-color;
         }
      }
      &--link{
         text-decoration: none;
         font-size: 1.4rem;
         color: $text-color;
         transition: all linear 0.15s;
      }
   }

   &--select{
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &--select:hover > .scout-subnav__menu{
      display: block;
   }
   &--select:hover > .scout-subnav__icon{
      color: $primary-color;
      transform: rotate(90deg);
   }
}

.scout-search__button{
   color: #333;
   font-size: 3.4rem;
   background-color: #20E3B2;
   cursor: pointer;
   color: #fff;
   border-radius: 1rem;
   line-height: 0.5;
   padding: 0.5rem 1.5rem;
   position: absolute;
   top: 50%;
   right: 7%;
   transform: translateY(-50%);
}

@keyframes FaceIn{
   from{
      opacity: 0;
   }     
   to{
      opacity: 1;
   }
}

.scout{
   &-body{
      padding-top: 53px;
      padding-bottom: 10rem;
      &__container{
         margin-top: 130px;
         padding-right: 10%;
      }
      &__title{
         font-size: 5rem;
         color: $text-color;
         font-family: 'Playfair Display', serif;
         line-height: 1;
         margin-bottom: 3rem;
         position: relative;
         &::before{
            content: "";
            position: absolute;
            @include size(1rem);
            border-radius: 50%;
            background-color: $primary-color;
            bottom: 5%;
            right: 32%;
            transform: translateX(50%);
         }
      }
      &__content{
         font-size: 1.6rem;
         font-weight: 300;
         color: #7c7c7c;
         margin-bottom: 4rem;
      }
      &__data{
         display: flex;
         align-items: center;
         flex-direction: column;
      }
      &__number{
         font-weight: 500;
         font-size: 3rem;
      }
      &__text{
         font-size: 1.6rem;
         text-align: center;
      }
   }
   &__img{
      width: 100%;
      object-fit: cover;
      height: calc(100vh - 53px);
      object-fit: cover;
   }

   &-section{
      margin-bottom: 10rem;
      &__container{
         text-align: center;
         display: flex;
         align-items: center;
         justify-content: center;
      }
      &__title{
         font-size: 3.5rem;
         font-family: 'Playfair Display', serif;
         line-height: 1;
         font-weight: 400;
         margin-bottom: 2rem;
         display: flex;
         flex-wrap: wrap;
         color: $text-color;
      }
      &__text{
         font-size: 1.4rem;
         color: #7c7c7c;
      }
      &__icon{
         font-size: 4rem;
         color: $primary-color;
         margin-bottom: 2rem;
      }
      &__message, &__layer, &__startup{
         font-size: 1.7rem;
         font-weight: 600;
         letter-spacing: 2px;
         margin-bottom: 1rem;
         color: $text-color;
      }
      &__content{
         font-size: 1.4rem;
         color: #7c7c7c;
      }
   }

   &-course{
      margin-bottom: 18rem;
      &__heading{
         background-color: #eee;
         text-align: center;
         padding: 5rem 35rem 0;
         position: relative;
         ::before{
            content: "";
            position: absolute;
            width: 100%;
            padding-bottom: 37rem;
            background-color: #eee;
            top: 0; left: 0;top: 0;
            z-index: -1;
         }
      }
      &__title{
         font-size: 1.4rem;
         color: $primary-color;
         text-transform: uppercase;
         font-weight: 700;
         display: block;
         padding-bottom: 2rem;
      }
      &__content{
         font-size: 3rem;
         color: $text-color;
         font-family: 'Playfair Display', serif;
         font-weight: 500;
         line-height: 1.5;
         letter-spacing: 1px;
      }

      &-standard{
         border: 2px solid #000;
         padding: 4rem 3rem;
         background-color: #fff;
         margin-top: 5rem;
         &__title{
            font-size: 2.8rem;
            font-family: 'Playfair Display', serif;
            font-weight: 400;
            margin-bottom: 0.5rem;
         }
         &__number{
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: 2rem;
         }
         &__container{
            margin-bottom: 2rem;
         }
         &__basic{
            display: flex;
            align-items: center;
            padding: 0.5rem;
         }
         &__icon{
            font-size: 1.4rem;
         }
         &__content{
            font-size: 1.6rem;
            padding-left: 1rem;
            color: $text-color;
         }
         &__button{
            font-size: 1.4rem;
            // background-color: $primary-color;
            border: 1px solid $primary-color;
            background-color: #fff;
            color: $primary-color;
            font-weight: 700;
            padding: 1rem 2rem;
            border-radius: 1rem;
            transition: all linear 0.2s;
            cursor: pointer;
            &:hover{
               color: #fff;
               background-color: $primary-color;
            }
         }
      }

      &-bussiness{
         color: #fff;
         background-color: $primary-color;
         border: 2px solid $primary-color;
         &__content{
            color: #fff;
         }
         &__button{
            background-color: $primary-color;
            border: 1px solid #fff;
            color: #fff;
            transition: all linear 0.2s;
            cursor: pointer;
            &:hover{
               color: $primary-color;
               background-color: #fff;
            }
         }
      }
   }

   &-about{
      margin-bottom: 10rem;
      &__group{
         padding-right: 15rem;
      }
      &__heading{
         font-size: 1.4rem;
         text-transform: uppercase;
         color: $primary-color;
         font-weight: 700;
         display: block;
         margin-bottom: 1rem;
      }
      &__content{
         font-size: 3rem;
         font-family: 'Playfair Display', serif;
         font-weight: 500;
         color: $text-color;
      }
      
      &__item{
         margin-top: 5rem;
         font-size: 2.4rem;
      }
      &__icon{
         display: block;
         font-size: 3.5rem;
         color: $primary-color;
         font-weight: bold;
         padding: 2.5rem;
         background-color: rgba($primary-color, 0.1);
         border-radius: 50%;
         margin-bottom: 1rem;
      }
      &__title{
         font-size: 1.8rem;
         font-weight: 600;
         margin-bottom: 1rem;
      }
      &__text{
         font-size: 1.4rem;
         color: #9c9c9c;
         margin-bottom: 18rem;
      }
      &__box{
         &--img{
            padding-left: 12rem;
            object-fit: cover;
         }
         &--right{
            margin-top: 24px;
         }
      }
      &__img{
         margin-bottom: 24px;
         object-fit: cover;
         border-radius: 1rem;
      }

      &__img--user{
         object-fit: cover;
         box-shadow: 20px 20px 0 0 rgba($color: #000000, $alpha: 0.07);
         border-radius: 1rem;
      }

      &__user{
         background-color: $primary-color;
         padding: 5rem;
         width: 100%;
         margin-left: 2rem;
         margin-top: 5rem;
         border-radius: 1rem;
         box-shadow: 20px 20px 0 0 rgba($color: $primary-color, $alpha: 0.2);
         
         &--content{
            font-size: 2rem;
            margin-bottom: 2rem;
            color: #fff;
         }
      }

      &__contact{
         display: flex;
         align-items: center;
         &--img{
            @include size(7rem);
            border-radius: 50%;
            object-fit: cover;
         }
         &--box{
            margin-left: 2rem;
            color: #fff;   
         }
         &--name{
            font-size: 1.4rem;
            display: block;
         }
         &--position{
            font-size: 1.4rem;
         }
      }
   }

   &-question{
      background-color: #eee;
      text-align: center;
      margin-bottom: 5rem;
      padding-bottom: 8rem;
      &__title{
         padding-top: 7rem;
         font-size: 1.4rem;
         font-weight: 700;
         text-transform: uppercase;
         color: $primary-color;
         display: block;
      }
      &__content{
         margin-top: 2rem;
         font-size: 3rem;
         color: $text-color;
         font-family: 'Playfair Display', serif;
         line-height: 1.2;
         padding: 0 30rem;
         font-weight: 500;
         margin-bottom: 5rem;
      }
      &__select{
         display:flex;
         flex-wrap: wrap;
         align-items:center;
         background-color: #fff;
         border-radius: 1rem;
         padding: 1.5rem 2rem;
         margin-bottom: 1rem;
         cursor: pointer;
         width: 100%;
         z-index: 1;
         &:focus + .scout-question__info{
            display: block;
         }
         &:focus{
            background-color: $primary-color;
            color: #fff;
            border-radius: unset;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
         }
         &:focus > .scout-question__icon{
            font-size: 1.6rem;
            color: #fff;
            transform: rotate(90deg);
            transition: all linear 0.5s;
         }
      }
      &__icon{
         font-size: 1.6rem;
      }
      &__text{
         font-size: 1.3rem;
         text-transform: uppercase;
         font-weight: 600;
         padding-left: 1rem;
      }
      &__info{
         font-size: 1.4rem;
         color: #fff;
         font-weight: 300;
         padding: 0 2rem 2rem 2rem;
         margin-top: -1rem;
         height: auto;
         border-bottom-left-radius: 1rem;
         border-bottom-right-radius: 1rem;
         background-color: $primary-color;
         animation: facein ease-in 0.5s;
         display: none;
      }
      &__img{
         border-radius: 1rem;
      }
   }
   &-people{
      &__group{
         text-align: center;
      }
      &__title{
         font-size: 1.4rem;
         color: $primary-color;
         font-weight: 700;
         font-family: 'Poppins', sans-serif;
         text-transform: uppercase;
         padding: unset;
      }
      &__content{
         margin-top: 2rem;
         font-size: 3rem;
         color: #333;
         font-family: "Playfair Display", serif;
         line-height: 1.2;
         font-weight: 500;
         margin-bottom: 7rem;
      }
      &__img{
         @include size(7rem);
         border-radius: 50%;
         display: block;margin: 0 auto;
      }
      &__name{
         font-size: 1.8rem;
         font-family: "Playfair Display", serif;
         font-weight: 500;
         display: block;
         margin-bottom: 1rem;
         margin-top: 2rem;
         color: #333;
      }
      &__text{
         font-size: 1.4rem;
         color: #555;
         font-weight: 400;
         padding: 0 30rem;
         letter-spacing: 0.1rem;
         margin-bottom: 10rem;
      }
   }
   &-wrapper{
      &__group{
         padding: 3rem;
         background-color: $primary-color;
         text-align: center;
         margin-bottom: 7rem;
      }
      &__title{
         font-size: 3rem;
         color: $text-color;
         font-family: 'Playfair Display', serif;
         font-weight: 500;
      }
      &__content{
         font-size: 1.4rem;
         font-weight: 400;
         color: $text-color;
         margin-bottom: 3rem;
      }
      &__link{
         padding: 1.2rem 2.5rem;
         background-color: #fff;
         color: $primary-color;
         text-transform: uppercase;
         font-weight: 600;
         font-size: 1.4rem;
         text-decoration: none;
         border-radius: 1rem;
         display: inline-block;
         &:hover{
            background-color: #000;
            color: #fff;
            transition: all linear 0.3s;
         }
      }
   }
   &-footer{
      &__group{
         margin-bottom: 10rem;
      }
      &__title{
         font-size: 1.7rem;
         font-family: 'Playfair Display', serif;
         color: $text-color;
         margin-bottom: 1rem;
      }
      &__list{
         list-style: none;
         padding: 0;
      }
      &__item{
         margin: 5px 0;
         cursor: pointer;
         &:hover > .scout-footer__link{
            color: $primary-color;
            transition: all linear 0.15s;
         }
      }
      &__link{
         color: $text-color;
         text-decoration: none;
         font-size: 1.5rem;
      }
      &__boxed{
         text-align: center;
         margin-bottom: 9rem;
      }
      &__info{
         font-size: 1.4rem;
         color: #555;
         text-align: center;
         &--link{
            color: $text-color;
            font-size: 1.6rem;
         }
      }
   }
   &-form{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__input{
         flex: 1;
         padding: 1rem 2rem;
         font-size: 1.6rem;
         border: 1px solid #333;
         &::placeholder{
            color: #999;
         }
      }
      &__btn{
         padding: 1.25rem 2rem;
         font-size: 1.4rem;
         background-color: #000;
         color: #fff;
         font-weight: 600;
         text-transform: uppercase;
         cursor: pointer;
      }
   }
} 
#scout-question__group:focus{
   outline: none;
}

@keyframes facein{
   from{
      transform: translateY(-50%);
      opacity: 0;
   }
   to{
      transform: translateY(0);
      opacity: 1;
   }
}

@media screen and (min-width: 1024px) {
   .scout-section__title{
      padding-right: 10rem;
   }
}


@media (min-width: 1024px) and (max-width: 1240px) {
   .scout-social{
      display: flex !important;
   }
}

@media screen and (max-width: 1023.98px) {
   .scout{
      &-navigation{
         flex-wrap: nowrap;
      }
      &-nav__item{
         padding: unset;
         padding-left: 2.5rem;
      }
      &-body{
         &__container{
            text-align: center;
            padding: unset;
         }
         &__group{
            justify-content: space-between;
         }
      }

      &-section{
         flex-wrap: nowrap;
         text-align: center;
         &__icon{
            margin-top: 5rem;
            margin-bottom: 0.5rem;
         }
         &__group{
            display: block;
         }
         &__title{
            display: block;
         }
      }

      &-course{
         &__heading{
            padding: unset;
            padding: 5rem 10rem 3rem;
         }
      }

      &-about{
         &__group{
            text-align: center;
            padding: unset;
         }
         &__icon{
            margin: 0 auto;
            margin-bottom: 2rem;
         }
         &__box--img{
            padding-left: unset;
         }
         &__user{
            margin: unset;
            margin-top: 5rem;
         }
      }

      &-question{
         &__content{
            padding: unset;
            padding: 0 10rem;
         }
         &__img{
            margin-top: 3rem;
         }
      }

      &-people{
         &__text{
            padding: unset;
         }
      }

      &-footer{
         &__subcribe{
            margin-top: 5rem;
         }
      }
   }
}



